*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    /* fonts settings */
    --font-origin: 10px;
    --font-ratio: 1.61803398875;
    --font-inter: 'Inter', sans-serif;
    --font-rf-bold: 'RF Dewi Ultrabold';
    --font-rf-light: 'RF Dewi Light';

    --font-h1: calc(var(--font-origin) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio));
    --font-h2: calc(var(--font-origin) * var(--font-ratio) * var(--font-ratio));
    --font-h3: calc(var(--font-origin) * var(--font-ratio));
    --font-h4: calc(var(--font-origin));

    /* gap */
    --gap: 2rem;
    --gap-outer: 2rem;

    /* colors */
    --color-gray: #F5F6FA;
    
    --color-red: rgb(215, 45, 32);
    --color-red-alpha: rgba(215, 45, 32, 0.1);

    --color-blue: rgb(0, 86, 231);
    --color-blue-alpha: rgba(0, 86, 231, 0.1);

    --color-orange: rgb(255, 166, 0);
    --color-orange-alpha: rgba(255, 166, 0, 0.1);

    --color-green: rgb(0, 135, 68);
    --color-green-alpha: rgba(0, 135, 68, 0.1);

    /* border radius */
    --radius: 2.5rem;
}

::selection{
    color: white;
    background-color: black;
}

h1{
    /* font size 42.3 */
    font-size: var(--font-h1);
    font-family: var(--font-inter);
}

h2{
    /* font size 26.18 */
    font-size: var(--font-h2);
    font-family: var(--font-inter);
    font-weight: 400;
}

.h2--bold{
    font-weight: bold;
}

h3{
    /* font size 16.8 */
    font-size: var(--font-h3);
    font-family: var(--font-inter);
    font-weight: 400;
}

h4{
    /* font size 10 */
    font-size: var(--font-h4);
}

.h1--long,
.h2--long,
.h3--long{
    font-family: var(--font-rf-bold);
}

html,
body{
    width: 100%;
    height: 100%;
    font-size: var(--font-origin);
    position: relative;
    font-family: var(--font-inter);
    overflow-x: hidden;
}

.wrapper{
    position: relative;
    width: 100%;
    height: auto;
}

/* start */

.start{
    width: 100%;
    height: calc(100vh - 120px);
    padding: 2rem 0;
    position: relative;
}

.start__container{
    max-width: 1440px;
    width: calc(100% - 4rem);
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.start__header{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.start__logo{
    width: 10rem;
    height: 10rem;
    display: block;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.start__logo-item{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: contain;
}

.start__nav-list{
    display: flex;
    list-style: none;
}

.start__nav-item{
    margin-left: 2rem;
}

.start__nav-icon{
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    color: black;
}

.start__nav-icon svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* start__content */

.start__content{
    width: 100%;
    height: calc(100% - 200px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.start__text,
.start__blocks{
    height: 100%;
    width: 100%;
    position: relative;
}

.start__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.start__text .h1--long{
    line-height: 125%;
    margin-bottom: 2rem;
}

.start__text h2{
    line-height: 150%;
    margin-bottom: 4rem;
}

.start__button-item{
    padding: 1rem 2rem;
    background-color: var(--color-gray);
    cursor: pointer;
    border: 0;
    color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    transition: all 250ms ease;
}

.start__button-item .h2--bold{
    margin: 0;
}

.start__button-dot{
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background: currentColor;
    margin-right: 1rem;
    border-radius: var(--radius);
}

.start__button-item:hover{
    background-color: black;
    color: var(--color-gray);
}

/*.start__button-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 250ms ease;
    z-index: -1;
    transform: translateY(100%);
}

.start__button-item--green::after{
    background-color: var(--color-green);
    transform: translateY(100%);
}

.start__button-item--green:hover::after{
    transform: translateY(0%);
}

.start__button-item--orange::after{
    background-color: var(--color-orange);
    transform: translateX(100%);
}

.start__button-item--orange:hover::after{
    transform: translateX(0%);
}

.start__button-item--red::after{
    background-color: var(--color-red);
    transform: translateY(-100%);
}

.start__button-item--red:hover::after{
    transform: translateY(0%);
}


.start__button-item--blue::after{
    background-color: var(--color-blue);
    transform: translateX(-100%);
}

.start__button-item--blue:hover::after{
    transform: translateX(0%);
}*/

.start__figure{
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.start__start-figure-1{
    top: 107.5%;
    left: 2.5%;
    width: 20rem;
    height: 20rem;
    z-index: 20;
}

.start__start-figure-2{
    top: 107.5%;
    left: 95%;
    width: 20rem;
    height: 25rem;
    z-index: 20;
}

.start__text-figure{
    top: 15%;
    left: 75%;
    width: 11.5rem;
    height: 12.2rem;
}

.start__blocks-figure{
    top: 22.5%;
    left: 95%;
    width: 15rem;
    height: 15rem;
}

.start__figure-item{
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

/* start__blocks */

.start__blocks{
    position: relative;
}

.start__blocks-wrapper{
    pointer-events: none;
}

.start__blocks-wrapper--fist{
    width: 83.333333333333333333333333333333%;
    position: absolute;
    top: 45%;
    right: 3rem;
    transform: translateY(-50%);
    z-index: 1;
}

.start__blocks-wrapper--sec{
    width: 50%;
    position: absolute;
    top: 70%;
    right: -1rem;
    transform: translateY(-50%);
    z-index: 0;
}

.start__blocks-wrapper--third{
    width: 50%;
    top: 65%;
    left: -2rem;
    transform: translateY(-50%);
    z-index: 2;
    position: absolute;
}

.start__block-item{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

.start__block-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    /*background-image: url(../images/pictures/start__1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    color: white;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.start__blocks-wrapper--sec .start__block-inner{
    justify-content: flex-start;
    align-items: flex-end;
}

.start__blocks-wrapper--third .start__block-inner{
    justify-content: flex-start;
    align-items: flex-start;
}

.start__block-inner img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    z-index: 2;
    filter: brightness(0.8);
}

.start__block-inner .start__block-tag{
    margin: 2rem;
    z-index: 3;
    position: absolute;
    line-height: 1;
    display: flex;
}

.start__block-icon{
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
}

.start__block-icon img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.start__blocks-wrapper--sec .start__block-icon,
.start__blocks-wrapper--sec .start__block-icon img,
.start__blocks-wrapper--third .start__block-icon,
.start__blocks-wrapper--third .start__block-icon img{
    height: 3rem;
    width: 3rem;
}

/* HEADER */

.header{
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
    bottom: 2rem;
    z-index: 100;
    width: 100%;
    height: auto;
}

.header__container{
    width: calc(100% - 4rem);
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    border-radius: var(--radius);
    background-color: rgba(255, 255, 255, 0.726);
    backdrop-filter: blur(250px);
    -webkit-backdrop-filter: blur(250px);
}

.header__list{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__item{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: var(--radius);
    transition: all 250ms ease;
}

.header__item--red:hover{
    background-color: var(--color-red-alpha);
    color: var(--color-red);
}

.header__item--green:hover{
    background-color: var(--color-green-alpha);
    color: var(--color-green);
}

.header__item--blue:hover{
    background-color: var(--color-blue-alpha);
    color: var(--color-blue);
}

.header__item--orange:hover{
    background-color: var(--color-orange-alpha);
    color: var(--color-orange);
}

.header__dot{
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.header__dot--red{
    background-color: var(--color-red);
}

.header__dot--green{
    background-color: var(--color-green);
}

.header__dot--blue{
    background-color: var(--color-blue);
}

.header__dot--orange{
    background-color: var(--color-orange);
}

/* HOT */

.hot{
    height: 200vh;
}